@font-face {
  font-family: "ennobled";
  src: url("ennobled.ttf") format("opentype");
}

body, h1.jumbotron { background: #36393F; color: #FFFFFF; font-family: "Roboto" }
body.index { font-size: 4em; background: #2F3136; color: #FFFFFF }
p { font-size: 16px; text-align: center; color: #FFFFFF }
div.jumbotron { background: #2F3136; color: #FFFFFF }
footer.index { position: fixed; width: 100%; bottom: 5px; font-size: 20px }
blockquote { font-size:1.8em; font-weight: normal }
h1 { font-weight: bold }
h4, h3 { color: #65696C; font-style: italic }
button.homepage { font-size: 16px; border: none; position: absolute; top: 5px; left: 0; background: #2F3136 }
button.btn-secondary { border: none; background: #36393F }
tr:nth-child(even) { background: #2F3136 }
tr { font-size: 24px }
tr.head { font-size: 48px }
th { font-weight: normal }

div.katie { background-color: #FF0AD6; font-family: "yu gothic", "Roboto" }
div.jessie { background-color: #42F4DC }
body.tom { background-color: #EEA1CD; font-family: "montserrat", "Roboto" }
body.james { background-color: #FFDD81; font-family: "ennobled", "Roboto" }
body.james_m { background-color: #6E42E8; font-family: "arimo", "Roboto" }

#mainText {
  font-size: calc(3vw + 4vh);
  text-align: center;
  margin-top: calc(2.5vw + 13.5vh);
  margin-bottom: calc(3vw + 4vh);
  line-height: 0;
}

.buttonText {
  font-size: calc(2.5vw + 3vh);
  line-height: calc(1.5vw + 2vh);
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
}