html {
  height: 100%;
}

body {
  display: flex;
  height: 90%;
  background-image: url("res/bliss.jpg");
  overflow: hidden;
}

.content-body {
  margin: 3%;
  flex-grow: 1;
}

.window-body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

article {
  max-height: 100%;
  flex-grow: 1;
}

#quotes {
  position: relative;
  max-height: 66%;
}

.window {
  display: flex;
  flex-direction: column;
}

.inner-quote-article {
  max-height: 95%;
  overflow: scroll;
}

.cmd-window {
  margin-top: 12px;
  width: 50%;
  background: #000 !important;
}

.cmd-body {
  overflow: hidden;
}

.cmd-pre {
  background: #000;
  color: #ccc;
  font-weight: bold;
}
