html {
  height: 100%;
}

body {
  display: flex;
  height: 95%;
  background-image: url("res/bliss.jpg");
  overflow: hidden;
}

.content-body {
  margin: 1%;
  flex-grow: 1;
}

.window-body {
  max-height: 93%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
}

article {
  flex-grow: 1;
}

#quotes {
  & li {
    margin-top: 8px;
  }
  & .quote-header {
    font-weight: bold;
  }
}

footer {
  font-style: italic;
}

.window {
  max-height: inherit;
  display: flex;
  flex-direction: column;
}

.inner-quote-article {
  max-height: 93%;
}

.article-window {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 66%;
}

.cmd-window {
  background: #000 !important;
}

.cmd-body {
  max-height: 33%;
  overflow: hidden;
}

.cmd-pre {
  background: #000;
  color: #ccc;
  font-weight: bold;
}

.cmd-pause {
  color: #b7cdfc;
}

.h4-main {
  margin-bottom: 0;
}

.h4-sub {
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}
